.test {
    background: url(../Assets/test_img.png), cover no-repeat;
    /* margin-bottom: 160px; */
  }
  
  .test .container{
      padding: 0 20px;
  }
  
  .overlay {
      background-color: #F84646;
  }
  
  .test_desc{
      padding-top: 40px;
      padding: 40px;
  }
  
  .test_text {
      color: var(--default-white, #FFF);
      text-align: center;
      font-family: Manrope;
      font-size: 48px;
      font-style: normal;
      font-weight: 800;
      line-height: 64px;
  }
  
  .test_info {
      color: var(--default-white, #FFF);
      text-align: center;
      font-family: Manrope;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
  }
  
  .test_list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 50px;
  }
  
  .test_list-text {
      color: #FFF;
      font-family: Manrope;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
  }
  
  @media (min-width: 450px) and (max-width: 768px) {
      
      .test_text {
          font-size: 30px;
      }
      .test_info {
          font-size: 18px;
      }
  
      .test_list-text{
          font-size: 14px;
      }
  
      .test_list-img{
          scale: 0.8;
      }
     
  }
  
  @media (min-width: 0px) and (max-width: 450px){
      .test_text {
          font-size: 30px;
      }
  
      .test_info {
          font-size: 14px;
          margin-bottom: 30px;
      }
  
      .test_desc {
          padding-top: 30px;
      }
      
      .test_list {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 15px;
      }
      .test_list-text {
          text-align: center;
      }
      .test_list-img {
          rotate: 90deg;
      }
  
  }